.promo-name img{
width: 100%;
height: 400px;
}

.promo-name h2{
    font-family: Cursive;
    position: absolute;
    background-color: white;
    color: red;
    margin-top: 160px;
    margin-left: 200px;
    padding: 8px;
    border-radius: 5px;
}

 .btn-one{
    position: absolute;
    display: inline;
    margin-top: 250px;
    margin-left: 700px;
    border-color: white;
    background: unset;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    
}

 .btn-two{
    position: absolute;
    display: inline;
    margin-top: 250px;
    margin-left: 500px;
    border-color: white;
    background: unset;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.btn-one:hover{
    color: white;
    background-color: goldenrod;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
}

.btn-two:hover{
    color: white;
    background-color: goldenrod;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .name{
        display: none;
        
    }
    
    .btn-one{
        display: none;
     }
    .btn-two{
        display: none;
    }
 }
 @media only screen and (min-width:689px) and (max-width:991px) {
     
    .name{
        display: none;
     }

     .btn-one{
        display: none;
     }
     .btn-two{
        display: none;
    }
 }